﻿@model List<AMS.ViewModels.Evaluation.EvaluationVM>
@foreach (var item in Model)
{
    <tr>
        <td>
            @item.ClientName
        </td>
        <td>
            @if (item.Date != null)
            {
                @item.Date.Value.ToShortDateString();
            }


        </td>
        <td id="status">
            @item.statusstring

        </td>
        <td>
            <a href="/evaluations/@item.Code">التفاصيل</a>
        </td>
        <td>
            <span class="actions">
                @* <i data-toggle="tooltip" title="موافقة" class="fa fa-check"></i>*@
                <a href="/evaluations/@item.Code/edit"> <i data-toggle="tooltip" title="تعديل" class="fa fa-pencil"></i></a>
                <i data-toggle="tooltip" title="حدف" class="fa fa-trash" onclick="Delete(this, '@(item.Code)');"></i>
                <i data-toggle="tooltip" title="إغلاق" class="fa fa-ban" onclick="CloseEvaluation(this,'@(item.Code)');"></i>
            </span>
        </td>
    </tr>
}