﻿@model AMS.ViewModels.Evaluation.EvaluationInfoVM
@{
    ViewData["Title"] = "EditEvaluation";
    Layout = "~/Views/Shared/_Layout_tabs.cshtml";
}
@section Title{
    <h3 class=""> التقيمات</h3>
}
@section TabsTitle{
    <li class="tab fancyTab active">
        <div class="arrow-down">
            <div class="arrow-down-inner"></div>
        </div>
        <a id="tab0" href="#tabBody0" role="tab" aria-controls="tabBody0" aria-selected="true" data-toggle="tab" tabindex="0"><span class="fa fa-desktop"></span><span class="hidden-xs">بيانات أساسية</span></a>
        <div class="whiteBlock"></div>
    </li>

    <li class="tab fancyTab">
        <div class="arrow-down">
            <div class="arrow-down-inner"></div>
        </div>
        <a id="tab1" href="#tabBody1" role="tab" aria-controls="tabBody1" aria-selected="true" data-toggle="tab" tabindex="0"><span class="fa fa-book"></span><span class="hidden-xs">التقارير</span></a>
        <div class="whiteBlock"></div>
    </li>

    <li class="tab fancyTab">
        <div class="arrow-down">
            <div class="arrow-down-inner"></div>
        </div>
        <a id="tab2" href="#tabBody2" role="tab" aria-controls="tabBody2" aria-selected="true" data-toggle="tab" tabindex="0"><span class="fa fa-paperclip"></span><span class="hidden-xs">إرفاق ملفات التقرير</span></a>
        <div class="whiteBlock"></div>
    </li>

    <li class="tab fancyTab">
        <div class="arrow-down">
            <div class="arrow-down-inner"></div>
        </div>
        <a id="tab3" href="#tabBody3" role="tab" aria-controls="tabBody3" aria-selected="true" data-toggle="tab" tabindex="0"><span class="fa fa-upload"></span><span class="hidden-xs">إرفاق التقرير بعد الموافقة</span></a>
        <div class="whiteBlock"></div>
    </li>
}
<div class="modal fade" id="Modal2" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">اضافة ملف</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="input-group">

                            <input type="file" class="form-control" id="FinalTempFile">
                            <span class="input-group-addon" id="basic-addon1">الملف</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">اغلاق</button>
                <button type="button" class="btn btn-success pull-left" data-dismiss="modal" id="AddfinalTemp">حفظ</button>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="Modal3" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">اضافة ملف</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="input-group">

                            <input type="file" class="form-control" id="TempFile">
                            <span class="input-group-addon" id="basic-addon1">الملف</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">اغلاق</button>
                <button type="button" class="btn btn-success pull-left" data-dismiss="modal" id="AddTemp">حفظ</button>
            </div>
        </div>

    </div>
</div>
@section PopUp{
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">اضافة ملف جديد</h4>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="input-group">

                        <input type="text" class="form-control" id="filename">
                        <span class="input-group-addon" id="basic-addon1">اسم الملف</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input-group">

                        <textarea name="" class="form-control" id="filedesc" cols="30" rows="10"></textarea>
                        <span class="input-group-addon" id="basic-addon1">وصف الملف</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input-group">

                        <input type="file" class="form-control" id="fileInput">
                        <span class="input-group-addon" id="basic-addon1">إرفاق الملف</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">اغلاق</button>
            <button type="button" id="addfile" class="btn btn-success pull-left" data-dismiss="modal">حفظ</button>
        </div>
    </div>


}
<input type="hidden" value="@ViewBag.EvaluationCode" id="hdn_code" />
<div class="tab-pane  fade active in" id="tabBody0" role="tabpanel" aria-labelledby="tab0" aria-hidden="false" tabindex="0">
    <div>
        <div class="row">

            <div class="col-md-12">
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.EvaluationType, new List<SelectListItem>() {  new SelectListItem { Text="ارض",Value="1"},
                           new SelectListItem { Text = "مصنع", Value = "2" },new SelectListItem { Text="مبنى",Value="3"}
                       ,new SelectListItem { Text="شقة",Value="4"},new SelectListItem { Text="فيلا",Value="5"},
                           new SelectListItem { Text="محل",Value="6"},new SelectListItem { Text="سيارات",Value="7"},new SelectListItem { Text="اراضى و مبانى",Value="8"}
                           ,new SelectListItem { Text="الات و معدات",Value="9"},new SelectListItem { Text="قرية سياحية",Value="10"},new SelectListItem { Text="فندق",Value="11"}}, new { @class = "form-control" })
                        @*<select name="" class="form-control" id="">
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>
                                <option value="6"></option>
                            </select>*@
                        <span class="input-group-addon" id="basic-addon1">نوع  التقيم</span>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.ClientName, new { @class = "form-control" })
                        @*<input type="text" class="form-control">*@
                        <span class="input-group-addon" id="basic-addon1">اسم  العميل</span>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.PreviewDate, @"{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
                        @* <input type="date" class="form-control">*@
                        <span class="input-group-addon" id="basic-addon1"> تاريخ المعاينة</span>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.PreprationDate, @"{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
                        @* <input type="date" class="form-control">*@
                        <span class="input-group-addon" id="basic-addon1"> تاريخ الاعداد</span>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Fees, new { @class = "form-control" })
                        @* <input type="text" class="form-control">*@
                        <span class="input-group-addon" id="basic-addon1">الاتعاب</span>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.CollectionStatus, new List<SelectListItem>() { new SelectListItem { Text="تم",Value="1"},
                           new SelectListItem { Text = "لم يتم", Value = "2" }
                    }, new { @class = "form-control" })
                        @*<select name="" class="form-control" id="">
                                <option value="1">تم</option>
                                <option value="2">لم يتم</option>

                            </select>*@
                        <span class="input-group-addon" id="basic-addon1">حالة التحصيل</span>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.CollectionType, new List<SelectListItem>() { new SelectListItem { Text="نقدى",Value="1"},
                           new SelectListItem { Text = "شيك", Value = "2" },new SelectListItem { Text="تحويل بنكى",Value="3"}
                    }, new { @class = "form-control" })
                        @*<select name="" class="form-control" id="">
                                <option value="1">نقدى</option>
                                <option value="2">شيك</option>
                                <option value="3">تحويل بنكى</option>
                            </select>*@
                        <span class="input-group-addon" id="basic-addon1">طريقة التحصيل</span>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.ValueAddedTax, new { @class = "form-control" })
                        @* <input type="text" class="form-control">*@
                        <span class="input-group-addon" id="basic-addon1">ض قيمة مضافة</span>
                    </div>
                </div>

                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.SupplyStatus, new List<SelectListItem>() { new SelectListItem { Text="تم",Value="1"},
                           new SelectListItem { Text = "لم يتم", Value = "2" }
                    }, new { @class = "form-control" })
                        @*<select name="" class="form-control" id="">
                                <option value="1">تم</option>
                                <option value="2">لم يتم</option>

                            </select>*@
                        <span class="input-group-addon" id="basic-addon1">حالة التوريد</span>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Supplydate, new { @type = "date", @class = "form-control" })
                        @* <input type="date" class="form-control">*@
                        <span class="input-group-addon" id="basic-addon1">تاريخ التوريد</span>
                    </div>
                </div>

              
             

                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.generalTaxStatus, new List<SelectListItem>() { new SelectListItem { Text="يوجد",Value="1"},
                           new SelectListItem { Text = "لا يوجد", Value = "2" }
                    }, new { @class = "form-control" })
                        @*<select name="" class="form-control" id="">
                                <option value="1">تم</option>
                                <option value="2">لم يتم</option>

                            </select>*@
                        <span class="input-group-addon" id="basic-addon1">الضرائب العامة</span>
                    </div>
                </div>

                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.generaltax, new { @class = "form-control" })
                        @*<input type="text" class="form-control">*@
                        <span class="input-group-addon" id="basic-addon1">قيمة الضرائب</span>
                    </div>
                </div>
                @*<div class="col-md-12 pull-right">
                        <div class="input-group">

                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @cols = "30", @rows = "3" })

                            <span class="input-group-addon" id="basic-addon1">ملاحظات</span>
                        </div>
                    </div>*@

            </div>
            <button type="button" id="saveTab1" class="btn btn-success pull-left">حفظ و إغلاق</button>

        </div>
    </div>
</div>
<div class="tab-pane  fade" id="tabBody1" role="tabpanel" aria-labelledby="tab1" aria-hidden="true" tabindex="0">
    <div class="row">

        <div class="col-md-12">
            <div class="col-md-4 pull-right">
                <div class="input-group">

                    <select name="" class="form-control" id="">
                        <option value="1">ارض</option>
                        <option value="2">مصنع</option>
                        <option value="3">مبنى</option>
                        <option value="4">شقة</option>
                        <option value="5">فيلا</option>
                        <option value="6">محل</option>
                        <option value="7">سيارات</option>
                        <option value="8">اراضى و مبانى</option>
                        <option value="9">الات و معدات</option>
                        <option value="10">قرية سياحية</option>
                        <option value="11">فندق</option>
                    </select>
                    <span class="input-group-addon" id="basic-addon1">نوع التقيم</span>
                </div>
            </div>
            <div class="col-md-4 pull-right">
                <div class="input-group">

                    <select name="" class="form-control" id="drp_Templates">
                        <option value="نموذج كراسة شروط.doc">1</option>
                        <option value="نموذج كراسة شروط.doc">2</option>
                        <option value="نموذج كراسة شروط.doc">3</option>
                    </select>
                    <span class="input-group-addon" id="basic-addon1">النماذج</span>
                </div>
            </div>
            <div class="col-md-4 pull-right">
                <a id="btn_EditTemplate" class="btn form-control btn-default" href="~/docs/نموذج كراسة شروط.doc">تحميل النموذج</a>
                @if (Model.Templates.Count > 0)
                {
                    <a class="btn form-control btn-default" href="@Model.Templates.First().filePath">تحميل اخر مسودة</a>
                }
            </div>

        </div>
        <button type="button" id="saveTab2" class="btn btn-success pull-left">حفظ و إغلاق</button>
        @*<button class="btn btn-primary pull-left">إرسال للموافقة</button>*@
    </div>
</div>
<div class="tab-pane  fade" id="tabBody2" role="tabpanel" aria-labelledby="tab2" aria-hidden="true" tabindex="0">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="shift-top col-md-12 table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    اسم الملف
                                </th>
                                <th>
                                    تاريخ إرفاق الملف
                                </th>
                                <th>
                                    الإجراءات
                                </th>
                            </tr>
                        </thead>
                        <tbody id="mediatbl">
                            @foreach (var item in Model.files)
                            {
                                <tr>
                                    <td>
                                        @item.filename
                                    </td>
                                    <td>
                                        @item.uploaddate.ToString("yyyy-MM-dd")
                                    </td>
                                    <td>
                                        <span class="actions">

                                            <i data-toggle="tooltip" title="حدف" class="fa fa-trash" onclick="DeleteSaleFile(this,@(item.Id));"></i>
                                        </span>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary pull-left" data-toggle="modal" data-target="#myModal">اضافة ملف</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="saveTab3" class="btn btn-success pull-left">حفظ و إغلاق</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="tab-pane  fade" id="tabBody3" role="tabpanel" aria-labelledby="tab3" aria-hidden="true" tabindex="0">
    <div class="row">
        <div class="col-md-12">
            <div class="shift-top col-md-12 table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                اسم الملف
                            </th>
                            <th>
                                تاريخ إرفاق الملف
                            </th>
                            <th>
                                الإجراءات
                            </th>
                        </tr>
                    </thead>
                    <tbody id="finalTempTable">
                        @foreach (var item in Model.finalTemplates)
                        {
                            <tr>
                                <td>
                                    كراسة الشروط النهائية
                                </td>
                                <td>
                                    @item.uploaddate.ToString("yyyy-MM-dd")
                                </td>
                                <td>
                                    <span class="actions">

                                        <i data-toggle="tooltip" title="حدف" class="fa fa-trash" onclick="DeleteSaleTemplate(this,@(item.Id));"></i>
                                    </span>
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model.Templates)
                        {
                            <tr>
                                <td>
                                    مسودة كراسة الشروط
                                </td>
                                <td>
                                    @item.uploaddate.ToString("yyyy-MM-dd")
                                </td>
                                <td>
                                    <span class="actions">

                                        <i data-toggle="tooltip" title="حدف" class="fa fa-trash" onclick="DeleteTemplate(this,@(item.Id));"></i>
                                    </span>
                                </td>
                            </tr>
                        }



                    </tbody>
                </table>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="saveTab4" class="btn btn-success pull-left">حفظ </button>
                        <button class="btn btn-primary pull-left" data-toggle="modal" data-target="#Modal2">إرفاق كراسة الشروط النهائية</button>
                        <button class="btn btn-primary pull-left" data-toggle="modal" data-target="#Modal3">إرفاق مسودة كراسة الشروط </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        $("#saveTab1").click(function () {

            var param = {
                ClientName: $("#ClientName").val(),
                EvaluationType: $("#EvaluationType").val(),
                PreviewDate: $("#PreviewDate").val(),
                PreprationDate: $("#PreprationDate").val(),
                Fees: $("#Fees").val(),
                CollectionStatus: $("#CollectionStatus").val(),
                CollectionType: $("#CollectionType").val(),
                Supplydate: $("#Supplydate").val(),
                SupplyStatus: $("#SupplyStatus").val(),
                ValueAddedTax: $("#ValueAddedTax").val(),
                generalTaxStatus: $("#generalTaxStatus").val(),
                generaltax: $("#generaltax").val(),

                code: $("#hdn_code").val()


            };
            $.ajax({
                url: "/Evaluation/EditEvaluationdata",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {

                    window.location.href = '/evaluations/';
                }
            });
        });
        $("#saveTab2").click(function () {

            var param = {
                ClientName: $("#ClientName").val(),
                EvaluationType: $("#EvaluationType").val(),
                PreviewDate: $("#PreviewDate").val(),
                PreprationDate: $("#PreprationDate").val(),
                Fees: $("#Fees").val(),
                CollectionStatus: $("#CollectionStatus").val(),
                CollectionType: $("#CollectionType").val(),
                Supplydate: $("#Supplydate").val(),
                SupplyStatus: $("#SupplyStatus").val(),
                ValueAddedTax: $("#ValueAddedTax").val(),
                generalTaxStatus: $("#generalTaxStatus").val(),
                generaltax: $("#generaltax").val(),

                code: $("#hdn_code").val()


            };
            $.ajax({
                url: "/Evaluation/EditEvaluationdata",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {

                    window.location.href = '/evaluations/';
                }
            });
        });
        $("#saveTab3").click(function () {

            var param = {
                ClientName: $("#ClientName").val(),
                EvaluationType: $("#EvaluationType").val(),
                PreviewDate: $("#PreviewDate").val(),
                PreprationDate: $("#PreprationDate").val(),
                Fees: $("#Fees").val(),
                CollectionStatus: $("#CollectionStatus").val(),
                CollectionType: $("#CollectionType").val(),
                Supplydate: $("#Supplydate").val(),
                SupplyStatus: $("#SupplyStatus").val(),
                ValueAddedTax: $("#ValueAddedTax").val(),
                generalTaxStatus: $("#generalTaxStatus").val(),
                generaltax: $("#generaltax").val(),

                code: $("#hdn_code").val()


            };
            $.ajax({
                url: "/Evaluation/EditEvaluationdata",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {

                    window.location.href = '/evaluations/';
                }
            });
        });
        $("#saveTab4").click(function () {

            var param = {
                ClientName: $("#ClientName").val(),
                EvaluationType: $("#EvaluationType").val(),
                PreviewDate: $("#PreviewDate").val(),
                PreprationDate: $("#PreprationDate").val(),
                Fees: $("#Fees").val(),
                CollectionStatus: $("#CollectionStatus").val(),
                CollectionType: $("#CollectionType").val(),
                Supplydate: $("#Supplydate").val(),
                SupplyStatus: $("#SupplyStatus").val(),
                ValueAddedTax: $("#ValueAddedTax").val(),
                generalTaxStatus: $("#generalTaxStatus").val(),
                generaltax: $("#generaltax").val(),

                code: $("#hdn_code").val()


            };
            $.ajax({
                url: "/Evaluation/EditEvaluationdata",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {

                    window.location.href = '/evaluations/';
                }
            });
        });

        $("#addfile").click(function () {

            var fileUpload = $("#fileInput").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "/Evaluation/UploadFilesAjax",
                contentType: false,
                processData: false,
                data: data,
                success: function (message) {
                    if (message.result == "true") {

                        Savefiledata(message.filepath, message.date);
                    }

                },
                error: function () {
                    alert("There was error uploading files!");
                }
            });
        });

        $("#AddfinalTemp").click(function () {

            var fileUpload = $("#FinalTempFile").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "/Sales/UploadFilesAjax",
                contentType: false,
                processData: false,
                data: data,
                success: function (message) {
                    if (message.result == "true") {

                        SaveFinalfiledata(message.filepath, message.date);
                    }

                },
                error: function () {
                    alert("There was error uploading files!");
                }
            });
        });

        $("#AddTemp").click(function () {

            var fileUpload = $("#TempFile").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "/Sales/UploadFilesAjax",
                contentType: false,
                processData: false,
                data: data,
                success: function (message) {
                    if (message.result == "true") {

                        SaveTempfiledata(message.filepath, message.date);
                    }

                },
                error: function () {
                    alert("There was error uploading files!");
                }
            });
        });

        function Savefiledata(path, date) {
            $.ajax({
                url: '/Evaluation/AddEvaluationFile',
                type: 'POST',
                data: JSON.stringify({ Name: $("#filename").val(), description: $("#filedesc").val(), Path: path, salecode: $("#hdn_code").val() }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result.result == "true") {


                        debugger;
                        $("#mediatbl").append('<tr><td>' + $("#filename").val() + '</td><td>' + date + '</td><td><span class="actions"><i data-toggle="tooltip" title="حدف" class="fa fa-trash" onclick="DeleteSaleFile(this, ' + result.fileId + ');"></i></span></td></tr>');
                        $("#filename").val('');
                        $("#filedesc").val('');
                        $("#fileInput").val('');
                    }

                }

            });
            return false;

        }

        function SaveFinalfiledata(path, date) {
            $.ajax({
                url: '/Evaluation/AddFinalEvaluationTemplate',
                type: 'POST',
                data: JSON.stringify({ Path: path, salecode: $("#hdn_code").val() }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result.result == "true") {
                        debugger;

                        $("#finalTempTable").append('<tr><td>كراسة الشروط النهائية</td><td>' + date + '</td><td><span class="actions"><i data-toggle="tooltip" title="حدف" class="fa fa-trash" onclick="DeleteSaleTemplate(this,' + result.fileId + ')"></i></span></td></tr>');

                    }

                }

            });
            return false;

        }

        function DeleteSaleFile(ctrl, id) {
            var param = {

                Id: id

            };
            $.ajax({
                url: "/Evaluation/DeleteEvaluationFile",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {
                    if (result.result == "true") {
                        $(ctrl).parent().parent().parent().remove();
                        //window.open(this.href, '_blank');
                    }

                }
            });
        }

        function DeleteSaleTemplate(ctrl, id) {
            var param = {

                Id: id

            };
            $.ajax({
                url: "/Evaluation/DeleteEvaluationFileTemp",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {
                    if (result.result == "true") {
                        $(ctrl).parent().parent().parent().remove();
                        //window.open(this.href, '_blank');
                    }

                }
            });
        }

        function DeleteTemplate(ctrl, id) {
            var param = {

                Id: id

            };
            $.ajax({
                url: "/Evaluation/DeleteTemp",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {
                    if (result.result == "true") {
                        $(ctrl).parent().parent().parent().remove();
                        //window.open(this.href, '_blank');
                    }

                }
            });
        }

        function SaveTempfiledata(path, date) {
            $.ajax({
                url: '/Evaluation/AddEvaluationTemplate',
                type: 'POST',
                data: JSON.stringify({ Path: path, salecode: $("#hdn_code").val() }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result.result == "true") {
                        debugger;

                        $("#finalTempTable").append('<tr><td>مسودة كراسة الشروط</td><td>' + date + '</td><td><span class="actions"><i data-toggle="tooltip" title="حدف" class="fa fa-trash" onclick="DeleteTemplate(this,' + result.fileId + ')"></i></span></td></tr>');

                    }

                }

            });
            return false;

        }
    </script>
}



