﻿@model List<AMS.ViewModels.Evaluation.EvaluationVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title{
    <h3 class="">
        <i class="fa fa-star"></i> التقيمات
    </h3>
}
@section SubTitle{
    <div class="row no-margin">
        <div class="col-md-3">
            <label for=""> </label>
            <button class="btn form-control btn-default" id="btnSearch">بحث</button>
        </div>
        <div class="col-md-3">
            <label for="">الشهر</label>
            <select name="monthSrch" id="monthSrch" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="">السنة</label>
            <select name="yearSrch" id="yearSrch" class="form-control">
                @foreach (var item in ViewBag.years)
                {
                    <option value="@item">@item</option>
                }

            </select>
        </div>
        <div class="col-md-3">
            <label for="">نوع التقيم</label>
            <select name="typeSrch" id="typeSrch" class="form-control">
                <option value="0">غير معروف</option>
                <option value="1">ارض</option>
                <option value="2">مصنع</option>
                <option value="3">مبنى</option>
                <option value="4">شقة</option>
                <option value="5">فيلا</option>
                <option value="6">محل</option>
                <option value="7">سيارات</option>
                <option value="8">اراضى و مبانى</option>
                <option value="9">الات و معدات</option>
                <option value="10">قرية سياحية</option>
                <option value="11">فندق</option>
            </select>
        </div>

    </div>
}


<div class="shift-top col-md-12 table-responsive">
    @if (Model.Count > 0)
    {
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        اسم العميل
                    </th>
                    <th>
                        تاريخ المعاينة
                    </th>
                    <th>
                        حالة التقيم
                    </th>
                    <th>تفاصيل التقيم</th>
                    <th>
                        الإجراءات
                    </th>
                </tr>
            </thead>
            <tbody id="Partialdata">
                @Html.Partial("~/Views/Evaluation/_EvaluationList.cshtml", Model)

            </tbody>
        </table>
    }
    <div class="row">
        <div class="col-md-12">
            <a href="/evaluations/add/step_1/" class="btn btn-primary pull-left">اضافة تقيم</a>
        </div>
    </div>
</div>
@section Scripts{

    <script type="text/javascript">
       
        function Delete(ctrl, code) {
            var param = {

                code: code

            };
            $.ajax({
                url: "/Evaluation/DeleteEvaluation",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {
                    if (result.result == "true") {
                        $(ctrl).parent().parent().parent().remove();
                        //window.open(this.href, '_blank');
                    }

                }
            });
        }
        $("#btnSearch").click(function () {
            var param = { evaltype: $("#typeSrch").val(), year: $("#yearSrch").val(), month: $("#monthSrch").val()};
            $.ajax({
                url: "/Evaluation/GetEvaluationSearchResult",
                type: "GET",
                data: param, //if you need to post Model data, use this
                success: function (result) {

                    $("#Partialdata").html(result);


                }
            });
        });

        function CloseEvaluation(ctrl, code) {
            var param = {

                code: code

            };
            $.ajax({
                url: "/Evaluation/CloseEvaluation",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {
                    if (result.result == "true") {
                        $(ctrl).parent().parent().parent().find("#status").html('مغلقة');
                        //window.open(this.href, '_blank');
                    }

                }
            });
        }


    </script>
}

