﻿@model AMS.ViewModels.Evaluation.EvaluationInfoVM
@{
    ViewData["Title"] = "ViewEvaluation";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}
@section Title{
    <h3 class="">
        <i class="fa fa-file"></i> التفاصيل
    </h3>
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-6 pull-right">
            <div class="input-group">
                @Html.DropDownListFor(m => m.EvaluationType, new List<SelectListItem>() { new SelectListItem { Text="ارض",Value="1"},
                           new SelectListItem { Text = "مصنع", Value = "2" },new SelectListItem { Text="مبنى",Value="3"}
                       ,new SelectListItem { Text="شقة",Value="4"},new SelectListItem { Text="فيلا",Value="5"},
                           new SelectListItem { Text="محل",Value="6"},new SelectListItem { Text="سيارات",Value="7"}}, new { @class = "form-control", disabled = "disabled" })
                @*<select name="" class="form-control" id="">
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                    <option value="6"></option>
                </select>*@
                <span class="input-group-addon" id="basic-addon1">نوع  التقيم</span>
            </div>
        </div>
        <div class="col-md-6 pull-right">
            <div class="input-group">
                @Html.TextBoxFor(m => m.ClientName, new { @class = "form-control", disabled = "disabled" })
                @*<input type="text" class="form-control">*@
                <span class="input-group-addon" id="basic-addon1">اسم  العميل</span>
            </div>
        </div>
        <div class="col-md-6 pull-right">
            <div class="input-group">
                @Html.TextBoxFor(m => m.PreviewDate, @"{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", disabled = "disabled" })
                @* <input type="date" class="form-control">*@
                <span class="input-group-addon" id="basic-addon1"> تاريخ المعاينة</span>
            </div>
        </div>
        <div class="col-md-6 pull-right">
            <div class="input-group">
                @Html.TextBoxFor(m => m.PreprationDate, @"{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", disabled = "disabled" })
                @* <input type="date" class="form-control">*@
                <span class="input-group-addon" id="basic-addon1"> تاريخ الاعداد</span>
            </div>
        </div>
        <div class="col-md-6 pull-right">
            <div class="input-group">
                @Html.TextBoxFor(m => m.Fees, new { @class = "form-control", disabled = "disabled" })
                @* <input type="text" class="form-control">*@
                <span class="input-group-addon" id="basic-addon1">الاتعاب</span>
            </div>
        </div>
        <div class="col-md-6 pull-right">
            <div class="input-group">
                @Html.DropDownListFor(m => m.CollectionStatus, new List<SelectListItem>() { new SelectListItem { Text="تم",Value="1"},
                           new SelectListItem { Text = "لم يتم", Value = "2" }
                    }, new { @class = "form-control", disabled = "disabled" })
                @*<select name="" class="form-control" id="">
                    <option value="1">تم</option>
                    <option value="2">لم يتم</option>

                </select>*@
                <span class="input-group-addon" id="basic-addon1">حالة التحصيل</span>
            </div>
        </div>
        <div class="col-md-6 pull-right">
            <div class="input-group">
                @Html.DropDownListFor(m => m.CollectionType, new List<SelectListItem>() { new SelectListItem { Text="نقدى",Value="1"},
                           new SelectListItem { Text = "شيك", Value = "2" },new SelectListItem { Text="تحويل بنكى",Value="3"}
                    }, new { @class = "form-control", disabled = "disabled" })
                @*<select name="" class="form-control" id="">
                    <option value="1">نقدى</option>
                    <option value="2">شيك</option>
                    <option value="3">تحويل بنكى</option>
                </select>*@
                <span class="input-group-addon" id="basic-addon1">طريقة التحصيل</span>
            </div>
        </div>
        <div class="col-md-6 pull-right">
            <div class="input-group">
                @Html.TextBoxFor(m => m.ValueAddedTax, new { @class = "form-control", disabled = "disabled" })
                @* <input type="text" class="form-control">*@
                <span class="input-group-addon" id="basic-addon1">ض قيمة مضافة</span>
            </div>
        </div>

        <div class="col-md-6 pull-right">
            <div class="input-group">
                @Html.DropDownListFor(m => m.SupplyStatus, new List<SelectListItem>() { new SelectListItem { Text="تم",Value="1"},
                           new SelectListItem { Text = "لم يتم", Value = "2" }
                    }, new { @class = "form-control", disabled = "disabled" })
                @*<select name="" class="form-control" id="">
                    <option value="1">تم</option>
                    <option value="2">لم يتم</option>

                </select>*@
                <span class="input-group-addon" id="basic-addon1">حالة التوريد</span>
            </div>
        </div>
        <div class="col-md-6 pull-right">
            <div class="input-group">
                @Html.TextBoxFor(m => m.Supplydate, new { @type = "date", @class = "form-control", disabled = "disabled" })
                @* <input type="date" class="form-control">*@
                <span class="input-group-addon" id="basic-addon1">تاريخ التوريد</span>
            </div>
        </div>

     
       

        <div class="col-md-6 pull-right">
            <div class="input-group">
                @Html.DropDownListFor(m => m.generalTaxStatus, new List<SelectListItem>() { new SelectListItem { Text="يوجد",Value="1"},
                           new SelectListItem { Text = "لا يوجد", Value = "2" }
                    }, new { @class = "form-control", disabled = "disabled" })
                @*<select name="" class="form-control" id="">
                    <option value="1">تم</option>
                    <option value="2">لم يتم</option>

                </select>*@
                <span class="input-group-addon" id="basic-addon1">الضرائب العامة</span>
            </div>
        </div>

        <div class="col-md-6 pull-right">
            <div class="input-group">
                @Html.TextBoxFor(m => m.generaltax, new { @class = "form-control", disabled = "disabled" })
                @*<input type="text" class="form-control">*@
                <span class="input-group-addon" id="basic-addon1">قيمة الضرائب</span>
            </div>
        </div>

    </div>
</div>

<h3><i class="fa fa-paperclip"></i> الملفات المرفقة</h3>
<div class="row">
    <div class="shift-top col-md-12 table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        اسم الملف
                    </th>
                    <th>
                        تاريخ إرفاق الملف
                    </th>
                    <th>
                        عرض الملف
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.files)
                {
                    <tr>
                        <td>
                            @item.filename
                        </td>
                        <td>
                            @item.uploaddate.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @{
                                string[] path = @item.FilePath.Split("Media");
                            }
                            <a href="~/Media/@path[1].Substring(1)" target="_blank">عرض</a>
                        </td>

                    </tr>
                                }
            </tbody>
        </table>
    </div>
</div>

<h3><i class="fa fa-file-o"></i> كراسة الشروط</h3>
<div class="row">
    <div class="col-md-6 pull-right">
        @if (Model.finalTemplates.Count > 0)
        {
            string[] path = Model.finalTemplates.First().filePath.Split("Media");
            <a href="~/Media/@path[1].Substring(1)" class="btn btn-default">تحميل الملف</a>
        }
        else
        {
            @Html.Raw("لا يوجد");
        }

    </div>
</div>

