/* @import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css); */


/*
 * Droid Arabic Kufi (Arabic) http://www.google.com/fonts/earlyaccess
 */

@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/DroidKufi-Regular.eot);
    src: url(../fonts/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/DroidKufi-Regular.woff2) format('woff2'), url(../fonts/DroidKufi-Regular.woff) format('woff'), url(../fonts/DroidKufi-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/DroidKufi-Bold.eot);
    src: url(../fonts/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/DroidKufi-Bold.woff2) format('woff2'), url(../fonts/DroidKufi-Bold.woff) format('woff'), url(../fonts/DroidKufi-Bold.ttf) format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    /* direction:rtl !important; */
}

html,
body,
aside,
article,
div {
    direction: rtl;
    font-family: 'Droid Arabic Kufi', sans-serif;
}

body {
    background: #f5f5f5 !important;
}

.no-border {
    border: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
}

.transparent {
    background: transparent;
}

.no-padding {
    padding: 0;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.no-margin {
    margin: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

article {
    background: #f5f5f5;
    /* height:500px; */
}

aside.navigation {
    color: #828687;
    background: #212121;
    height: 100%;
    position: relative;
    /* position:fixed; */
    border-radius: 0 0 4px 4px;
}

aside.navigation:after {
    content: url(../images/line.png);
    position: absolute;
    bottom: -50px;
    left: calc(50% - 21px);
}

aside.navigation li {
    cursor: pointer;
    line-height: 35px;
    font-size: 14px;
}

aside.navigation li i {
    font-size: 15px;
}

aside.navigation li:hover {
    color: rgb(249, 249, 145);
}

aside.navigation li.selected {
    color: #fff;
}

.page-title {
    background: #fff;
    padding: 0% 2% 1% 2%;
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.page-title h3,
h3 {
    font-size: large;
    color: #098d99;
}

.sub-header {
    min-height: 68px;
    background: #b1bec6;
    padding: 20px 0;
}

.sub-header .row.no-margin a {
    height: 10px;
    margin: 15px 20px -10px 10px;
    float: right;
    color: #fff;
    font-size: 14px;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.sub-header .row.no-margin a:hover {
    color: yellow;
}

.stat-box {
    color: #fff;
    width: 100%;
    height: 80px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    /* margin-top:40px; */
}

.stat-box span {
    float: right;
    margin: 0 5px;
}

.stat-box span:nth-child(2) {
    margin-top: 50px;
    /* font-size:large; */
}

.stat-box span:first-child {
    font-size: 50pt;
}

.stat-box span:last-child {
    position: absolute;
    left: 10px;
    top: 10px;
    opacity: 0.25;
    font-size: 15pt;
}

.stat-box.green {
    background: #afd582;
}

.stat-box.orange {
    background: #d09d06;
}

.stat-box.red {
    background: #f06292;
}

.stat-box.blue {
    background: #00bcd5;
}

.white-block {
    background: #fff;
    min-height: 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    border-radius: 4px;
}

.white-block .list-group-item .fa-shopping-cart {
    color: #f06292;
    font-size: 30px;
}

.list-group-item .actions,
.actions {
    font-size: 20px;
}

.list-group-item .actions i,
.actions i {
    margin: 0 0px;
    padding: 5px 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.list-group-item .actions i:hover,
.actions i:hover {
    transform: scale(1.5);
}

.list-group-item .actions i.fa-trash,
.actions i.fa-trash {
    color: red;
}

.list-group-item .actions i.fa-trash,
.actions i.fa-check {
    color: green;
}

.white-block img {
    width: 100%;
    height: auto;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 4px;
}

.white-block img:last-child {
    margin-bottom: 15px;
}

.user-info {
    text-align: center;
    padding: 20px 0;
    color: #fff;
    background: #273238;
}

.user-info img {
    height: 80px;
    width: auto;
}

.user-info img.logo {
    width: 100px;
    height: 100px;
}

.modal-header .close {
    float: left;
    background: #06b8d6;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    opacity: 0.5;
}

.modal-header {
    color: #01bacf;
}

.input-group {
    direction: ltr;
    margin: 10px 0 0px 0;
    text-align: right;
    width: 100%;
}

.input-group h4 {
    border-bottom: 1px #ddd solid;
    width: 100%;
    padding-bottom: 8px;
}

.shift-top {
    position: relative;
    margin-top: 20px;
    z-index: 100;
}

.table {
    background: #fff;
    text-align: center;
}

.table td,
.table th {
    vertical-align: middle !important;
    text-align: center;
}

.table thead {
    color: #098d99;
}

.promotion-image-container {
    min-height: 100px;
    overflow: hidden;
    text-align: center;
    background: #098d99;
}

.promotion-image-container img {
    min-height: 100px;
    width: 100%;
    margin: 0 0 0 0 !important;
}

.promotion-image-container i {
    color: #fff;
    position: absolute;
    margin-top: 13px;
    padding-top: 10px;
    padding-left: 5px;
    left: calc(50% - 35px);
    width: 70px;
    height: 70px;
    font-size: 40pt;
    border-radius: 50%;
    border: 1px #fff dashed;
}

.promotion-footer {
    display: none;
    padding: 10px 0;
}

.promotion-footer div {
    display: inline-block;
    width: 31.33333333%;
    text-align: center;
}

.promotion-image-container span,
.promotion-image-container a {
    color: #fff;
    font-size: large;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    width: 100%;
    float: right;
    line-height: 100px;
}

.modal-body {
    display: inline-block;
}


/* fancy tabs */

.fancyTab {
    text-align: center;
    padding: 15px 0;
    background-color: #eee;
    box-shadow: 0 0 0 1px #ddd;
    top: 15px;
    transition: top .2s;
}

.fancyTab.active {
    top: 0;
    transition: top .2s;
}

.whiteBlock {
    display: none;
}

.fancyTab.active .whiteBlock {
    display: block;
    height: 2px;
    bottom: -2px;
    background-color: #fff;
    width: 99%;
    position: absolute;
    z-index: 1;
}

.fancyTab a {
    font-family: inherit;
    font-size: 1.1em;
    font-weight: 300;
    transition: .2s;
    color: #333;
}

.fancyTab .hidden-xs {
    white-space: nowrap;
}

.fancyTabs {
    border-bottom: 2px solid #ddd;
    margin: 15px 0 0;
}

li.fancyTab a {
    padding-top: 15px;
    top: -15px;
    padding-bottom: 0;
}

li.fancyTab.active a {
    padding-top: inherit;
}

.fancyTab .fa {
    font-size: 40px;
    width: 100%;
    padding: 15px 0 5px;
    color: #666;
}

.fancyTab.active .fa {
    color: #0e8f9a;
}

.fancyTab a:focus {
    outline: none;
}

.fancyTabContent {
    border-color: transparent;
    box-shadow: 0 -2px 0 -1px #fff, 0 0 0 1px #ddd;
    padding: 30px 15px 15px;
    position: relative;
    background-color: #fff;
}

.nav-tabs>li.fancyTab.active>a,
.nav-tabs>li.fancyTab.active>a:focus,
.nav-tabs>li.fancyTab.active>a:hover {
    border-width: 0;
}

.nav-tabs>li.fancyTab:hover {
    background-color: #f9f9f9;
    box-shadow: 0 0 0 1px #ddd;
}

.nav-tabs>li.fancyTab.active:hover {
    background-color: #fff;
    box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
}

.nav-tabs>li.fancyTab:hover a {
    border-color: transparent;
}

.nav.nav-tabs .fancyTab a[data-toggle="tab"] {
    background-color: transparent;
    border-bottom: 0;
}

.nav-tabs>li.fancyTab:hover a {
    border-right: 1px solid transparent;
}

.nav-tabs>li.fancyTab>a {
    margin-right: 0;
    border-top: 0;
    padding-bottom: 30px;
    margin-bottom: -30px;
}

.nav-tabs>li.fancyTab {
    margin-right: 0;
    margin-bottom: 0;
    float: right;
}

.nav-tabs>li.fancyTab:last-child a {
    border-right: 1px solid transparent;
}

.nav-tabs>li.fancyTab.active:last-child {
    border-right: 0px solid #ddd;
    box-shadow: 0px 2px 0 0px #fff, 0px 0px 0 1px #ddd;
}

.fancyTab:last-child {
    box-shadow: 0 0 0 1px #ddd;
}

.tabs .nav-tabs li.fancyTab.active a {
    box-shadow: none;
    top: 0;
}

.fancyTab.active {
    background: #fff;
    box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
    padding-bottom: 30px;
}

.arrow-down {
    display: none;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 22px solid #ddd;
    position: absolute;
    top: -1px;
    left: calc(50% - 20px);
}

.arrow-down-inner {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 12px solid #fff;
    position: absolute;
    top: -22px;
    left: -18px;
}

.fancyTab.active .arrow-down {
    display: block;
}

@media (max-width: 1200px) {
    .fancyTab .fa {
        font-size: 36px;
    }
    .fancyTab .hidden-xs {
        font-size: 22px;
    }
}

@media (max-width: 992px) {
    .fancyTab .fa {
        font-size: 33px;
    }
    .fancyTab .hidden-xs {
        font-size: 18px;
        font-weight: normal;
    }
}

@media (max-width: 768px) {
    .fancyTab>a {
        font-size: 18px;
    }
    .nav>li.fancyTab>a {
        padding: 15px 0;
        margin-bottom: inherit;
    }
    .fancyTab .fa {
        font-size: 30px;
    }
    .nav-tabs>li.fancyTab>a {
        border-right: 1px solid transparent;
        padding-bottom: 0;
    }
    .fancyTab.active .fa {
        color: #333;
    }
}

.tab-pane .btn.pull-left {
    margin: 10px;
}