﻿@foreach (var item in Model)
{
    <tr>

        <td>
          @item.MovmentTime
        </td>

        <td>
            @item.MovmentDetails
        </td>
        <td>
            <span class="actions"><i data-toggle="tooltip" title="حدف" class="fa fa-trash" onclick="Delete(this, '@(item.Id)');"></i></span>
        </td>
    </tr>
}

