﻿@model List<AMS.Entities.DailyMovments>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal fade" id="Modal2" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">تفاصيل الحركة</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-12">
                            <label for="">اختر الساعة</label>
                            <input type="time" class="form-control" name="timemovment" id="timemovment">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="">تفاصيل الحركة</label>
                        <textarea name="details" class="form-control" id="details" cols="30" rows="4"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" id="btn_cancel">إلغاء</button>
                <button type="button" class="btn btn-success pull-left" data-dismiss="modal" id="btn_add">حفظ</button>
            </div>
        </div>

    </div>
</div>
@section Title{
    <h3 class="">
        <i class="fa fa-money"></i> الحركات اليومية
    </h3>
}
@section SubTitle{
    <div class="row no-margin">
        <div class="col-md-3">
            <label for=""> </label>
            <button data-toggle="modal" data-target="#Modal2" class="btn form-control btn-primary">إضافة</button>
        </div>
        <div class="col-md-3 pull-right">
            <label for="">التاريخ</label>
            <input type="date" class="form-control" id="DayDate" value="@DateTime.Now.ToString("yyyy-MM-dd")">
        </div>
    </div>
}

<div class="row">
    <div class="shift-top col-md-12 table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        الساعة
                    </th>
                    <th>
                        التفاصيل
                    </th>
                    <th>

                    </th>

                </tr>
            </thead>
            <tbody id="partialdata">
                @Html.Partial("~/Views/DailyMovment/_dailyMovmentList.cshtml", Model)





            </tbody>
        </table>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        $("#btn_add").click(function () {
            var param = { movmentdate: $("#DayDate").val(), movmenttime: $("#timemovment").val(), movmentdetails: $("#details").val() };
            $.ajax({
                url: "/DailyMovment/AddMovments",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {
                    if (result.status == 1) {
                        $("#partialdata").append('<tr><td>' + $("#timemovment").val() + '</td> <td>' + $("#details").val() + '</td><td><span class="actions"><i data-toggle="tooltip" title="حدف" class="fa fa-trash" onclick="Delete(this, ' + result.id + ');"></i></span></td></tr>');
                    }
                    $("#timemovment").val(''); $("#details").val('');

                }
            });
        });

        $('#DayDate').change(function () {
            var param = { date: $("#DayDate").val() };
            $.ajax({
                url: "/DailyMovment/GetMovmentsbyDate",
                type: "GET",
                data: param, //if you need to post Model data, use this
                success: function (result) {

                    $("#partialdata").html(result);


                }
            });

        });

        function Delete(ctrl, id) {
            var param = {

                id: id

            };
            $.ajax({
                url: "/DailyMovment/RemoveMovment",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {

                    if (result.status == 1) {
                        $(ctrl).parent().parent().parent().remove();
                        //window.open(this.href, '_blank');
                    }

                }
            });
        }
    </script>
}
