﻿@model List<AMS.ViewModels.ModulesVm>
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title{ 
<h3 class="">
    <i class="fa fa-home"></i> الصفحة الرئيسية
</h3>
}
@section SubTitle{ 
<div class="row no-margin">
</div>
}
@if (Model.Count > 0)
{
    <div class="shift-top col-md-12 table-responsive">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6 col-xs-12 pull-right">
                <div class="white-block">
                    <div class="promotion-image-container ">
                        <a href="/@item.url">@item.Name</a>
                    </div>
                  
                </div>
            </div>
        }

    </div>
}


