﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/login/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/login/css/bootstrap-rtl.min.css" rel="stylesheet">
    <!-- custom style CSS -->
    <link href="~/login/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- main area -->
    <section class="mainContainer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-xs-12">
                    <form name="form" method="post">

                        <div class="loginDiv loginForm">
                            <label>تسجيل دخول</label>
                            <div class="form-group col-md-12">

                                <input name="username" class="form-control " type="text" required="" placeholder="اسم المستخدم">
                            </div>
                            <div class="form-group col-md-12">
                                <input name="password" class="form-control" type="password" required="" placeholder="كلمة السر">
                            </div>
                            <div class="action-panel col-md-12">
                                <!-- ngIf: LoginModel.Message!=null -->
                                <input type="submit" class="btn primary loginBtn pull-left" value="دخول">
                               @* <a href="#" class="pull-right">مستخدم جديد؟ سجل الآن</a>*@
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </section>
    <!-- /.main -->
    <!-- jQuery Version 1.11.1 -->
    <script src="~/login/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/login/js/bootstrap.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/login/js/jquery.mobile.custom.min.js"></script>
</body>

</html>
