﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>

    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="" />
    <meta name="robots" content="index,follow" />

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />

    <!-- JS files -->
    <script type="text/javascript" src="~/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

</head>

<body>


    <div class="no-padding no-margin container row col-md-12">
        <article class="col-md-10 no-margin">
            <div class="row page-title">
                @if (IsSectionDefined("Title"))
                {
                    @RenderSection("Title", false)
                }
            </div>
         
           
                @RenderBody()
           
        </article>
        <aside class="col-md-2 no-margin no-padding navigation">
            <div class="user-info">
                <div class="row no-margin no-padding">
                    <img src="~/images/user.svg" class="logo" alt="" />
                    <br>
                    <br>



                    <h5 class="no-padding no-margin">admin</h5>
                    @*<span>admin@website.com</span>*@
                </div>
            </div>
            <ul class="list-group">
                <li class="transparent no-border list-group-item"><i class="fa fa-home"></i><a href="/homepage/"> الصفحة الرئيسية</a></li>
                <li class="transparent no-border list-group-item"><i class="fa fa-money"></i><a href="/Sales/"> البيوع</a></li>
                <li class="transparent no-border list-group-item"><i class="fa fa-star"></i><a href="/evaluations/">  التقييمات</a></li>
                <li class="transparent no-border list-group-item"><i class="fa fa-users"></i><a href="#">  العملاء</a></li>


                <li class="transparent no-border list-group-item"><i class="fa fa-folder"></i><a href="/calculations/">  الحسابات</a></li>
                <li class="transparent no-border list-group-item"><i class="fa fa-calendar"></i><a href="/movments/">  الحركات اليومية</a></li>
                <li class="transparent no-border list-group-item"><i class="fa fa-folder"></i><a href="#">  النماذج</a></li>
                <li class="transparent no-border list-group-item"><i class="fa fa-power-off"></i> <a href="/signin/"> تسجيل خروج</a></li>
                @*<li class="transparent no-border list-group-item"><i class="fa fa-file"></i> النماذج</li>*@
            </ul>
        </aside>
    </div>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", false)
    }


</body>

</html>