﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>
       
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="" />
    <meta name="robots" content="index,follow" />

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />

    <!-- JS files -->
    <script type="text/javascript" src="~/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

</head>

<body>
    <!-- Modal Window -->
    <!--<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">


            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">تفاصيل الجلسة</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="input-group">

                                <input type="text" class="form-control">
                                <span class="input-group-addon" id="basic-addon1">عنوان  الجلسة</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">اغلاق</button>
                    <button type="button" class="btn btn-success pull-left" data-dismiss="modal">حفظ</button>
                </div>
            </div>

        </div>
    </div>
        -->


    <div class="no-padding no-margin container row col-md-12">
        <article class="col-md-10 no-margin">
            <div class="row page-title">
                @if (IsSectionDefined("Title"))
                {
                    @RenderSection("Title", false)
                }
            </div>
            <div class="row sub-header">
                @if (IsSectionDefined("SubTitle"))
                {
                    @RenderSection("SubTitle", false)
                }


            </div>
            <div class="row">
                @RenderBody()
            </div>
        </article>
        <aside class="col-md-2 no-margin no-padding navigation">
            <div class="user-info">
                <div class="row no-margin no-padding">
                    <img src="~/images/user.svg" class="logo" alt="" />
                    <br>
                    <br>
                 
                    

                    <h5 class="no-padding no-margin">admin</h5>
                    @*<span>admin@website.com</span>*@
                </div>
            </div>
            <ul class="list-group">
                <li class="transparent no-border list-group-item"><i class="fa fa-home"></i><a href="/homepage/"> الصفحة الرئيسية</a></li>
                <li class="transparent no-border list-group-item"><i class="fa fa-money"></i><a href="/Sales/"> البيوع</a></li>
                <li class="transparent no-border list-group-item"><i class="fa fa-star"></i><a href="/evaluations/">  التقييمات</a></li>
                <li class="transparent no-border list-group-item"><i class="fa fa-users"></i><a href="#">  العملاء</a></li>
                
              
                <li class="transparent no-border list-group-item"><i class="fa fa-folder"></i><a href="/calculations/">  الحسابات</a></li>
                <li class="transparent no-border list-group-item"><i class="fa fa-calendar"></i><a href="/movments/">  الحركات اليومية</a></li>
                <li class="transparent no-border list-group-item"><i class="fa fa-folder"></i><a href="#">  النماذج</a></li>
                <li class="transparent no-border list-group-item"><i class="fa fa-power-off"></i> <a href="/signin/"> تسجيل خروج</a></li>
                @*<li class="transparent no-border list-group-item"><i class="fa fa-file"></i> النماذج</li>*@
            </ul>
        </aside>
    </div>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", false)
    }


</body>

</html>