﻿@model List<AMS.ViewModels.SaleVM>
@foreach (var item in Model)
{
    <tr>
        <td>
            @item.SaleName
        </td>
        <td>
            @if (item.date != null)
            {
              @item.date.Value.ToShortDateString();
            }


        </td>
        <td id="status">
            @item.statusstring

        </td>
        <td>
            <a href="/sales/@item.Code/">التفاصيل</a>
        </td>
        <td>
            <span class="actions">
               @* <i data-toggle="tooltip" title="موافقة" class="fa fa-check"></i>*@
                <a href="/Sales/@item.Code/edit"> <i data-toggle="tooltip" title="تعديل" class="fa fa-pencil"></i></a>
                <i data-toggle="tooltip" title="حدف" class="fa fa-trash" onclick="Delete(this, '@(item.Code)');"></i>
                <i data-toggle="tooltip" title="إغلاق" class="fa fa-ban" onclick="CloseSale(this,'@(item.Code)');"></i>
            </span>
        </td>
    </tr>
}