﻿@model AMS.ViewModels.SaleInfoVM
@{
    ViewData["Title"] = "EditSale";
    Layout = "~/Views/Shared/_Layout_tabs.cshtml";
}
@section Title{
    <h3 class=""> الجلسات</h3>
}
@section TabsTitle{
    <li class="tab fancyTab active">
        <div class="arrow-down">
            <div class="arrow-down-inner"></div>
        </div>
        <a id="tab0" href="#tabBody0" role="tab" aria-controls="tabBody0" aria-selected="true" data-toggle="tab" tabindex="0"><span class="fa fa-desktop"></span><span class="hidden-xs">بيانات أساسية</span></a>
        <div class="whiteBlock"></div>
    </li>

    <li class="tab fancyTab">
        <div class="arrow-down">
            <div class="arrow-down-inner"></div>
        </div>
        <a id="tab1" href="#tabBody1" role="tab" aria-controls="tabBody1" aria-selected="true" data-toggle="tab" tabindex="0"><span class="fa fa-book"></span><span class="hidden-xs">كراسة الشروط</span></a>
        <div class="whiteBlock"></div>
    </li>

    <li class="tab fancyTab">
        <div class="arrow-down">
            <div class="arrow-down-inner"></div>
        </div>
        <a id="tab2" href="#tabBody2" role="tab" aria-controls="tabBody2" aria-selected="true" data-toggle="tab" tabindex="0"><span class="fa fa-paperclip"></span><span class="hidden-xs">إرفاق ملفات الجلسة</span></a>
        <div class="whiteBlock"></div>
    </li>

    <li class="tab fancyTab">
        <div class="arrow-down">
            <div class="arrow-down-inner"></div>
        </div>
        <a id="tab3" href="#tabBody3" role="tab" aria-controls="tabBody3" aria-selected="true" data-toggle="tab" tabindex="0"><span class="fa fa-upload"></span><span class="hidden-xs">إرفاق كراسة الشروط بعد الموافقة</span></a>
        <div class="whiteBlock"></div>
    </li>
}
<div class="modal fade" id="Modal2" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">اضافة ملف</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="input-group">

                            <input type="file" class="form-control" id="FinalTempFile">
                            <span class="input-group-addon" id="basic-addon1">الملف</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">اغلاق</button>
                <button type="button" class="btn btn-success pull-left" data-dismiss="modal" id="AddfinalTemp">حفظ</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="Modal3" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">اضافة ملف</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="input-group">

                            <input type="file" class="form-control" id="TempFile">
                            <span class="input-group-addon" id="basic-addon1">الملف</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">اغلاق</button>
                <button type="button" class="btn btn-success pull-left" data-dismiss="modal" id="AddTemp">حفظ</button>
            </div>
        </div>

    </div>
</div>
@section PopUp{
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">اضافة ملف جديد</h4>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="input-group">

                        <input type="text" class="form-control" id="filename">
                        <span class="input-group-addon" id="basic-addon1">اسم الملف</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input-group">

                        <textarea name="" class="form-control" id="filedesc" cols="30" rows="10"></textarea>
                        <span class="input-group-addon" id="basic-addon1">وصف الملف</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input-group">

                        <input type="file" class="form-control" id="fileInput">
                        <span class="input-group-addon" id="basic-addon1">إرفاق الملف</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">اغلاق</button>
            <button type="button" id="addfile" class="btn btn-success pull-left" data-dismiss="modal">حفظ</button>
        </div>
    </div>
}
<input type="hidden" value="@ViewBag.SaleCode" id="hdn_code" />
<div class="tab-pane  fade active in" id="tabBody0" role="tabpanel" aria-labelledby="tab0" aria-hidden="false" tabindex="0">
    <div>
        <div class="row">

            <div class="col-md-12">
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.SaleType, new List<SelectListItem>() { new SelectListItem { Text="مزاد علنى سيرات",Value="1"},
                           new SelectListItem { Text = "مزاد علنى خردة", Value = "2" },new SelectListItem { Text="مزاد علنى عقارات",Value="3"}
                       ,new SelectListItem { Text="مظاريف مغلقة سيرات",Value="4"},new SelectListItem { Text="مظاريف مغلقة خردة",Value="5"},
                           new SelectListItem { Text="مظاريف مغلقة عقارات",Value="6"}}, new { @class = "form-control" })
                        @*<select name="" class="form-control" id="">
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>
                                <option value="6"></option>
                            </select>*@
                        <span class="input-group-addon" id="basic-addon1">نوع  الجلسة</span>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.InstitutionName, new { @class = "form-control" })
                        @*<input type="text" class="form-control">*@
                        <span class="input-group-addon" id="basic-addon1">اسم  الجلسة</span>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Date, @"{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
                        @* <input type="date" class="form-control">*@
                        <span class="input-group-addon" id="basic-addon1">تاريخ</span>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.TotalSales, new { @class = "form-control" })
                        @* <input type="text" class="form-control">*@
                        <span class="input-group-addon" id="basic-addon1">جملة المبيعات</span>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.CommissionRate, new { @class = "form-control" })
                        @*<input type="text" class="form-control">*@
                        <span class="input-group-addon" id="basic-addon1">نسبة العمولة</span>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Commission, new { @class = "form-control" })
                        @*<input type="text" class="form-control">*@
                        <span class="input-group-addon" id="basic-addon1">قيمة العمولة</span>
                    </div>
                </div>

                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.CollectionStatus, new List<SelectListItem>() { new SelectListItem { Text="تم",Value="1"},
                           new SelectListItem { Text = "لم يتم", Value = "2" }
                    }, new { @class = "form-control" })
                        @*<select name="" class="form-control" id="">
                                <option value="1">تم</option>
                                <option value="2">لم يتم</option>

                            </select>*@
                        <span class="input-group-addon" id="basic-addon1">حالة التحصيل</span>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.CollectionType, new List<SelectListItem>() { new SelectListItem { Text="نقدى",Value="1"},
                           new SelectListItem { Text = "شيك", Value = "2" },new SelectListItem { Text="تحويل بنكى",Value="3"}
                    }, new { @class = "form-control" })
                        @*<select name="" class="form-control" id="">
                                <option value="1">نقدى</option>
                                <option value="2">شيك</option>
                                <option value="3">تحويل بنكى</option>
                            </select>*@
                        <span class="input-group-addon" id="basic-addon1">طريقة التحصيل</span>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Fees, new { @class = "form-control" })
                        @* <input type="text" class="form-control">*@
                        <span class="input-group-addon" id="basic-addon1">رسوم أميرية</span>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.SupplyStatus, new List<SelectListItem>() { new SelectListItem { Text="تم",Value="1"},
                           new SelectListItem { Text = "لم يتم", Value = "2" }
                    }, new { @class = "form-control" })
                        @*<select name="" class="form-control" id="">
                                <option value="1">تم</option>
                                <option value="2">لم يتم</option>

                            </select>*@
                        <span class="input-group-addon" id="basic-addon1">حالة التوريد</span>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.SupplyDate, @"{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
                        @* <input type="date" class="form-control">*@
                        <span class="input-group-addon" id="basic-addon1">تاريخ التوريد</span>
                    </div>
                </div>

                
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.ValueAddedTax, new { @class = "form-control" })
                        @* <input type="text" class="form-control">*@
                        <span class="input-group-addon" id="basic-addon1">ض قيمة مضافة</span>
                    </div>
                </div>

                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.ValueAddedStatus, new List<SelectListItem>() { new SelectListItem { Text="تم",Value="1"},
                           new SelectListItem { Text = "لم يتم", Value = "2" }
                    }, new { @class = "form-control" })
                        @*<select name="" class="form-control" id="">
                                <option value="1">تم</option>
                                <option value="2">لم يتم</option>

                            </select>*@
                        <span class="input-group-addon" id="basic-addon1">حالة توريد القيمة المضافة</span>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.ValueAddedDate, @"{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
                        @* <input type="date" class="form-control">*@
                        <span class="input-group-addon" id="basic-addon1">تاريخ توريد القيمة المضافة</span>
                    </div>
                </div>


         
                <div class="col-md-12 pull-right">
                    <div class="input-group">

                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @cols = "30", @rows = "3" })
                        @*<textarea name="" class="form-control" id="" cols="30" rows="3"></textarea>*@
                        <span class="input-group-addon" id="basic-addon1">ملاحظات</span>
                    </div>
                </div>

            </div>
            <button type="button" id="saveTab1" class="btn btn-success pull-left">حفظ و إغلاق</button>

        </div>
    </div>
</div>
<div class="tab-pane  fade" id="tabBody1" role="tabpanel" aria-labelledby="tab1" aria-hidden="true" tabindex="0">
    <div class="row">

        <div class="col-md-12">
            <div class="col-md-4 pull-right">
                <div class="input-group">

                    <select name="" class="form-control" id="">
                        <option value="1">مزاد علنى سيرات</option>
                        <option value="2">مزاد علنى خردة</option>
                        <option value="3">مزاد علنى عقارات</option>
                        <option value="4">مظاريف مغلقة سيرات</option>
                        <option value="5">مظاريف مغلقة خردة</option>
                        <option value="6">مظاريف مغلقة عقارات</option>
                    </select>
                    <span class="input-group-addon" id="basic-addon1">نوع  الجلسة</span>
                </div>
            </div>
            <div class="col-md-4 pull-right">
                <div class="input-group">

                    <select name="" class="form-control" id="drp_Templates">
                        <option value="Temp1">1</option>
                        <option value="Temp2">2</option>
                        <option value="Temp3">3</option>
                    </select>
                    <span class="input-group-addon" id="basic-addon1">النماذج</span>
                </div>
            </div>
            <div class="col-md-4 pull-right">
                <a id="btn_EditTemplate" class="btn form-control btn-default" href="~/docs/نموذج كراسة شروط.doc">
                    تحميل النموذج
                </a>
                @if (Model.Templates.Count > 0)
                {
                    <a class="btn form-control btn-default" href="@Model.Templates.First().filePath">تحميل اخر مسودة</a>
                }
               
            </div>

        </div>
        <button type="button" id="saveTab2" class="btn btn-success pull-left">حفظ و إغلاق</button>
        <button class="btn btn-primary pull-left">إرسال للموافقة</button>
    </div>
</div>
<div class="tab-pane  fade" id="tabBody2" role="tabpanel" aria-labelledby="tab2" aria-hidden="true" tabindex="0">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="shift-top col-md-12 table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    اسم الملف
                                </th>
                                <th>
                                    تاريخ إرفاق الملف
                                </th>
                                <th>
                                    الإجراءات
                                </th>
                            </tr>
                        </thead>
                        <tbody id="mediatbl">
                            @foreach (var item in Model.files)
                            {
                                <tr>
                                    <td>
                                        @item.filename
                                    </td>
                                    <td>
                                        @item.uploaddate.ToString("yyyy-MM-dd")
                                    </td>
                                    <td>
                                        <span class="actions">

                                            <i data-toggle="tooltip" title="حدف" class="fa fa-trash" onclick="DeleteSaleFile(this,@(item.Id));"></i>
                                        </span>
                                    </td>
                                </tr>
                            }
                            @*<tr>
                                    <td>
                                        كراسة الشروط النهائية
                                    </td>
                                    <td>
                                        11/11/2017
                                    </td>
                                    <td>
                                        <span class="actions">
                                            <i data-toggle="tooltip" title="موافقة" class="fa fa-check"></i>
                                            <i data-toggle="tooltip" title="تعديل" class="fa fa-pencil"></i>
                                            <i data-toggle="tooltip" title="حدف" class="fa fa-trash"></i>
                                        </span>
                                    </td>
                                </tr>*@


                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary pull-left" data-toggle="modal" data-target="#myModal">اضافة ملف</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="saveTab3" class="btn btn-success pull-left">حفظ و إغلاق</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="tab-pane  fade" id="tabBody3" role="tabpanel" aria-labelledby="tab3" aria-hidden="true" tabindex="0">
    <div class="row">
        <div class="col-md-12">
            <div class="shift-top col-md-12 table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                اسم الملف
                            </th>
                            <th>
                                تاريخ إرفاق الملف
                            </th>
                            <th>
                                الإجراءات
                            </th>
                        </tr>
                    </thead>
                    <tbody id="finalTempTable">
                        @foreach (var item in Model.finalTemplates)
                        {
                            <tr>
                                <td>
                                    كراسة الشروط النهائية
                                </td>
                                <td>
                                    @item.uploaddate.ToString("yyyy-MM-dd")
                                </td>
                                <td>
                                    <span class="actions">

                                        <i data-toggle="tooltip" title="حدف" class="fa fa-trash" onclick="DeleteSaleTemplate(this,@(item.Id));"></i>
                                    </span>
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model.Templates)
                        {
                            <tr>
                                <td>
                                    مسودة كراسة الشروط
                                </td>
                                <td>
                                    @item.uploaddate.ToString("yyyy-MM-dd")
                                </td>
                                <td>
                                    <span class="actions">

                                        <i data-toggle="tooltip" title="حدف" class="fa fa-trash" onclick="DeleteTemplate(this,@(item.Id));"></i>
                                    </span>
                                </td>
                            </tr>
                        }



                    </tbody>
                </table>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="saveTab4" class="btn btn-success pull-left">حفظ </button>
                        <button class="btn btn-primary pull-left" data-target="#Modal2" data-toggle="modal">إرفاق كراسة الشروط النهائية</button>
                        <button class="btn btn-primary pull-left" data-toggle="modal" data-target="#Modal3">إرفاق مسودة كراسة الشروط </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">

        $("#saveTab1").click(function () {

            var param = {
                InstitutionName: $("#InstitutionName").val(),
                SaleType: $("#SaleType").val(),
                Date: $("#Date").val(),
                Fees: $("#Fees").val(),
                CollectionStatus: $("#CollectionStatus").val(),
                CollectionType: $("#CollectionType").val(),
                SupplyDate: $("#SupplyDate").val(),
                SupplyStatus: $("#SupplyStatus").val(),
                TotalSales: $("#TotalSales").val(),
                CommissionRate: $("#CommissionRate").val(),
                Commission: $("#Commission").val(),
                ValueAddedTax: $("#ValueAddedTax").val(),
                Code: $("#hdn_code").val(),
                ValueAddedStatus: $("#ValueAddedStatus").val(),
                ValueAddedDate: $("#ValueAddedDate").val(),
                Description: $("#Description").val()
            };
            $.ajax({
                url: "/Sales/EditSaledata",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {

                    window.location.href = '/Sales/';
                }
            });
        });
        $("#saveTab2").click(function () {

            var param = {
                InstitutionName: $("#InstitutionName").val(),
                SaleType: $("#SaleType").val(),
                Date: $("#Date").val(),
                Fees: $("#Fees").val(),
                CollectionStatus: $("#CollectionStatus").val(),
                CollectionType: $("#CollectionType").val(),
                SupplyDate: $("#SupplyDate").val(),
                SupplyStatus: $("#SupplyStatus").val(),
                TotalSales: $("#TotalSales").val(),
                CommissionRate: $("#CommissionRate").val(),
                Commission: $("#Commission").val(),
                ValueAddedTax: $("#ValueAddedTax").val(),
                Code: $("#hdn_code").val(),
                ValueAddedStatus: $("#ValueAddedStatus").val(),
                ValueAddedDate: $("#ValueAddedDate").val(),
                Description: $("#Description").val()
            };
            $.ajax({
                url: "/Sales/EditSaledata",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {

                    window.location.href = '/Sales/';
                }
            });
        });
        $("#saveTab3").click(function () {

            var param = {
                InstitutionName: $("#InstitutionName").val(),
                SaleType: $("#SaleType").val(),
                Date: $("#Date").val(),
                Fees: $("#Fees").val(),
                CollectionStatus: $("#CollectionStatus").val(),
                CollectionType: $("#CollectionType").val(),
                SupplyDate: $("#SupplyDate").val(),
                SupplyStatus: $("#SupplyStatus").val(),
                TotalSales: $("#TotalSales").val(),
                CommissionRate: $("#CommissionRate").val(),
                Commission: $("#Commission").val(),
                ValueAddedTax: $("#ValueAddedTax").val(),
                Code: $("#hdn_code").val(),
                ValueAddedStatus: $("#ValueAddedStatus").val(),
                ValueAddedDate: $("#ValueAddedDate").val(),
                Description: $("#Description").val()
            };
            $.ajax({
                url: "/Sales/EditSaledata",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {

                    window.location.href = '/Sales/';
                }
            });
        });
        $("#saveTab4").click(function () {

            var param = {
                InstitutionName: $("#InstitutionName").val(),
                SaleType: $("#SaleType").val(),
                Date: $("#Date").val(),
                Fees: $("#Fees").val(),
                CollectionStatus: $("#CollectionStatus").val(),
                CollectionType: $("#CollectionType").val(),
                SupplyDate: $("#SupplyDate").val(),
                SupplyStatus: $("#SupplyStatus").val(),
                TotalSales: $("#TotalSales").val(),
                CommissionRate: $("#CommissionRate").val(),
                Commission: $("#Commission").val(),
                ValueAddedTax: $("#ValueAddedTax").val(),
                Code: $("#hdn_code").val(),
                ValueAddedStatus: $("#ValueAddedStatus").val(),
                ValueAddedDate: $("#ValueAddedDate").val(),
                Description: $("#Description").val()
            };
            $.ajax({
                url: "/Sales/EditSaledata",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {

                    window.location.href = '/Sales/';
                }
            });
        });

        $("#addfile").click(function () {

            var fileUpload = $("#fileInput").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "/Sales/UploadFilesAjax",
                contentType: false,
                processData: false,
                data: data,
                success: function (message) {
                    if (message.result == "true") {

                        Savefiledata(message.filepath, message.date);
                    }

                },
                error: function () {
                    alert("There was error uploading files!");
                }
            });
        });
        $("#AddfinalTemp").click(function () {

            var fileUpload = $("#FinalTempFile").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "/Sales/UploadFilesAjax",
                contentType: false,
                processData: false,
                data: data,
                success: function (message) {
                    if (message.result == "true") {

                        SaveFinalfiledata(message.filepath, message.date);
                    }

                },
                error: function () {
                    alert("There was error uploading files!");
                }
            });
        });

        $("#AddTemp").click(function () {

            var fileUpload = $("#TempFile").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "/Sales/UploadFilesAjax",
                contentType: false,
                processData: false,
                data: data,
                success: function (message) {
                    if (message.result == "true") {

                        SaveTempfiledata(message.filepath, message.date);
                    }

                },
                error: function () {
                    alert("There was error uploading files!");
                }
            });
        });

        function Savefiledata(path, date) {
            $.ajax({
                url: '/Sales/AddSaleFile',
                type: 'POST',
                data: JSON.stringify({ Name: $("#filename").val(), description: $("#filedesc").val(), Path: path, salecode: $("#hdn_code").val() }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result.result == "true") {


                        debugger;
                        $("#mediatbl").append('<tr><td>' + $("#filename").val() + '</td ><td>' + date + '</td><td><span class="actions"><i data-toggle="tooltip" title="حدف" class="fa fa-trash" onclick="DeleteSaleFile(this, ' + result.fileId + ');"></i></span></td></tr>');
                        $("#filename").val('');
                        $("#filedesc").val('');
                        $("#fileInput").val('');
                    }

                }

            });
            return false;

        }

        function SaveFinalfiledata(path, date) {
            $.ajax({
                url: '/Sales/AddFinalSaleTemplate',
                type: 'POST',
                data: JSON.stringify({ Path: path, salecode: $("#hdn_code").val() }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result.result == "true") {
                        debugger;

                        $("#finalTempTable").append('<tr><td>كراسة الشروط النهائية</td><td>' + date + '</td><td><span class="actions"><i data-toggle="tooltip" title="حدف" class="fa fa-trash" onclick="DeleteSaleTemplate(this,' + result.fileId + ')"></i></span></td></tr>');

                    }

                }

            });
            return false;

        }

        function DeleteSaleFile(ctrl, id) {
            var param = {

                Id: id

            };
            $.ajax({
                url: "/Sales/DeleteSaleFile",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {
                    if (result.result == "true") {
                        $(ctrl).parent().parent().parent().remove();
                        //window.open(this.href, '_blank');
                    }

                }
            });
        }

        function DeleteSaleTemplate(ctrl, id) {
            var param = {

                Id: id

            };
            $.ajax({
                url: "/Sales/DeleteSaleFileTemp",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {
                    if (result.result == "true") {
                        $(ctrl).parent().parent().parent().remove();
                        //window.open(this.href, '_blank');
                    }

                }
            });
        }
        function DeleteTemplate(ctrl, id) {
            var param = {

                Id: id

            };
            $.ajax({
                url: "/Sales/DeleteTemp",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {
                    if (result.result == "true") {
                        $(ctrl).parent().parent().parent().remove();
                        //window.open(this.href, '_blank');
                    }

                }
            });
        }

        function SaveTempfiledata(path, date) {
            $.ajax({
                url: '/Sales/AddSaleTemplate',
                type: 'POST',
                data: JSON.stringify({ Path: path, salecode: $("#hdn_code").val() }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result.result == "true") {
                        debugger;

                        $("#finalTempTable").append('<tr><td>مسودة كراسة الشروط</td><td>' + date + '</td><td><span class="actions"><i data-toggle="tooltip" title="حدف" class="fa fa-trash" onclick="DeleteTemplate(this,' + result.fileId + ')"></i></span></td></tr>');

                    }

                }

            });
            return false;

        }

        $("#btn_EditTemplate").click(function () {

            var param = {

                salecode: $("#hdn_code").val(),
                templatename: $("#drp_Templates").val()
            };
            $.ajax({
                url: "/Sales/UploadAndOpenSaleTemplate",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {
                    if (result.result == "true") {
                        window.open(result.fileLink);
                        //window.open(this.href, '_blank');
                    }

                }
            });
        });


        $("#TotalSales").blur(function () {

            var fessval = $("#TotalSales").val() * (5 / 100);

            $("#Fees").val(fessval);

        });

        $("#CommissionRate").blur(function () {
            var commissinVal = $("#CommissionRate").val() / 100 * $("#TotalSales").val();
            var valueaddTaxVal = commissinVal * 10 / 100;
            $("#Commission").val(commissinVal);
            $("#ValueAddedTax").val(valueaddTaxVal);

        });

        $("#SupplyStatus").change(function () {
            if ($("#SupplyStatus").val() == "2") {
                $("#SupplyDate").val('');
            }
        });

        $("#ValueAddedStatus").change(function () {
            if ($("#ValueAddedStatus").val() == "2") {
                $("#ValueAddedDate").val('');
            }
        });



    </script>
}
