﻿@model List<AMS.ViewModels.SaleVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title{
    <h3 class="">
        <i class="fa fa-money"></i> البيوع
    </h3>
}
@section SubTitle{
    <div class="row no-margin">
        <div class="col-md-3">
            <label for=""> </label>
            <button class="btn form-control btn-default" id="btnSearch">بحث</button>
        </div>
        <div class="col-md-3">
            <label for="">الشهر</label>
            <select name="monthSrch" id="monthSrch" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="">السنة</label>
            <select name="yearSrch" id="yearSrch" class="form-control">
                @foreach (var item in ViewBag.years)
                {
                    <option value="@item">@item</option>
                }
           
            </select>
        </div>
        <div class="col-md-3">
            <label for="">نوع الجلسة</label>
            <select name="typeSrch" id="typeSrch" class="form-control">
                <option value="0">غير معروف</option>
                <option value="1">مزاد علنى سيرات</option>
                <option value="2">مزاد علنى خردة</option>
                <option value="3">مزاد علنى عقارات</option>
                <option value="4">مظاريف مغلقة سيرات</option>
                <option value="5">مظاريف مغلقة خردة</option>
                <option value="6">مظاريف مغلقة عقارات</option>
            </select>
        </div>

    </div>
}

<div class="shift-top col-md-12 table-responsive">
    @if (Model.Count > 0)
    {
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        اسم الجهة
                    </th>
                    <th>
                        تاريخ الجلسة
                    </th>
                    <th>
                        حالة الجلسة
                    </th>
                    <th>تفاصيل الجلسة</th>
                    <th>
                        الإجراءات
                    </th>
                </tr>
            </thead>
            <tbody id="Partialdata">
                @Html.Partial("~/Views/Sales/_SalesList.cshtml", Model)

            </tbody>
        </table>
    }
    <div class="row">
        <div class="col-md-12">
            <a href="/Sales/add/step_1/" class="btn btn-primary pull-left">اضافة جلسة</a>
        </div>
    </div>
</div>
@section Scripts{

    <script type="text/javascript">
        function CloseSale(ctrl, code)
        { 
            var param = {

                salecode: code

            };
            $.ajax({
                url: "/Sales/CloseSale",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {
                    if (result.result == "true") {
                        $(ctrl).parent().parent().parent().find("#status").html('مغلقة');
                        //window.open(this.href, '_blank');
                    }

                }
            });
        }
        function Delete(ctrl, code) {
            var param = {

                salecode: code

            };
            $.ajax({
                url: "/Sales/DeleteSale",
                type: "POST",
                data: param, //if you need to post Model data, use this
                success: function (result) {
                    if (result.result == "true") {
                        $(ctrl).parent().parent().parent().remove();
                        //window.open(this.href, '_blank');
                    }

                }
            });
        }
        $("#btnSearch").click(function () {
            var param = { saletype: $("#typeSrch").val(), year: $("#yearSrch").val(), month: $("#monthSrch").val()};
            $.ajax({
                url: "/Sales/GetSaleSearchResult",
                type: "GET",
                data: param, //if you need to post Model data, use this
                success: function (result) {
                   
                    $("#Partialdata").html(result);
                

                }
            });
        });


    </script>
}