@import url(http://fonts.googleapis.com/earlyaccess/notokufiarabic.css);
* {
    font-family: 'Noto Kufi Arabic' !important;
}

.mainContainer {
    background: url(../images/bg.jpg) no-repeat center center;
    min-height: 100vh;
    background-size: cover;
}

.loginForm {
    margin-top: 35%;
    margin-bottom: 49.3%;
    padding: 25px;
    height: 175px;
    background-color: #fff;
    border: 4px solid #b89a49;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
}

.loginForm label {
    position: absolute;
    top: 18%;
    font-size: 24px;
    background-color: #B89A49;
    padding: 24px;
    text-shadow: 0px 2px rgba(184, 154, 73, 0.67);
    color: #fff;
}

.loginForm a {
    margin-top: 32px;
    color: #fff;
}

.form-control {
    border-radius: 0;
    background-color: #f0f0f0;
    border: 2px solid #c8c8c8;
    height: 50px;
    line-height: normal !important;
}

.loginBtn {
    margin-top: 16px;
    border-radius: 0;
    padding: 10px 30px;
    font-size: 21px;
    text-shadow: 0px 2px rgba(184, 154, 73, 0.67);
    font-weight: bold;
    border-right: 3px solid #6bb575;
    border-left: 3px solid #6bb575;
    border-bottom: 3px solid #6bb575;
    color: #fff;
    background-color: #5fa067;
    -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.35);
    box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.35);
}

.loginBtn.btn.focus,
.loginBtn.btn:focus,
.loginBtn.btn:hover {
    color: #F5D98E;
}