﻿@model List<AMS.ViewModels.ModulesVm>
    @{
        ViewData["Title"] = "Index";
    }
    <div class="teacher-content-management page-wrapper">
        <div class="page-title">
            <div class="content-wrapper">
                <div class="container">
                    <h1>القائمة</h1>
                    <!-- cta -->
                </div>
                <!-- container -->
            </div>
            <!-- content-wrapper -->
        </div>
        <!-- page-title -->
        <main>
            <div class="content-wrapper">
                <div class="container">
                    <section>
                        <div class="section-content">
                            <div class="blocks-wrapper">
                                <ul>
                                    @foreach (var item in Model)
                                {
                                        <li>
                                            <a href="@item.url">
                                                <div class="icon">
                                                    <p><span><i class="m-icon">&#xf316;</i></span></p>
                                                </div>

                                                <div class="title">
                                                    <h3>@item.Name</h3>
                                                </div>
                                            </a>
                                        </li>
                                }



                                </ul>
                            </div>
                        </div>
                        <!-- section-content -->
                    </section>
                </div>
            </div>
        </main>
    </div>
