﻿@model AMS.ViewModels.Calculation.AddLotVM
@{
    ViewData["Title"] = "Add_Lot";
    Layout = "~/Views/Shared/_Layout_tabs.cshtml";
}

@section Title{
    <h3 class="">
        <i class="fa fa-money"></i> الحسابات
    </h3>
}
@section TabsTitle{

}
<div class="tab-pane  fade active in" id="tabBody0" role="tabpanel" aria-labelledby="tab0" aria-hidden="false" tabindex="0">
    <div>
        <form method="post">
            <div class="row">

                <div class="col-md-12">

                    <div class="col-md-6 pull-right">
                        <div class="input-group">
                            <select class="form-control" id="SalesList" name="SalesList" >
                                @foreach (var item in ViewBag.sales)
                                {
                                    <option value="@item.Id">@item.InstitutionName</option>
                                }



                            </select>
                            <span class="input-group-addon" id="basic-addon1">الجلسة</span>
                        </div>
                    </div>
                    <div class="col-md-6 pull-right">
                        <div class="input-group">

                            @Html.TextBoxFor(x => x.LotNumber, new { @class = "form-control", required = "required" })
                            <span class="input-group-addon" id="basic-addon1">رقم اللوط</span>
                        </div>
                    </div>


                    <div class="col-md-6 pull-right">
                        <div class="input-group">

                            @Html.TextBoxFor(x => x.LotType, new { @class = "form-control", required = "required" })
                            <span class="input-group-addon" id="basic-addon1">نوع اللوط</span>
                        </div>
                    </div>
                    <div class="col-md-6 pull-right">
                        <div class="input-group">

                            @Html.TextBoxFor(x => x.BuyValue, new { @class = "form-control", required = "required" })
                            <span class="input-group-addon" id="basic-addon1">القيمة البيعية</span>
                        </div>
                    </div>
                    <div class="col-md-6 pull-right">
                        <div class="input-group">

                            <select name="LotUnit" class="form-control" id="LotUnit">
                                <option value="1">لوط</option>
                                <option value="2">وزن او عدد</option>

                            </select>
                            <span class="input-group-addon" id="basic-addon1">وحدة اللوط</span>
                        </div>
                    </div>
                    <div class="col-md-6 pull-right">
                        <div class="input-group">

                            @Html.TextBoxFor(x => x.Weightornumber, new { @class = "form-control", required = "required" })
                            <span class="input-group-addon" id="basic-addon1">الوزن او العدد</span>
                        </div>
                    </div>

                    <div class="col-md-6 pull-right">
                        <div class="input-group">

                            @Html.TextBoxFor(x => x.priceperweightornumber, new { @class = "form-control", required = "required" })
                            <span class="input-group-addon" id="basic-addon1">سعر الوزن او العدد</span>
                        </div>
                    </div>
                    <div class="col-md-6 pull-right">
                        <div class="input-group">

                            @Html.TextBoxFor(x => x.paidamount, new { @class = "form-control", required = "required" })
                            <span class="input-group-addon" id="basic-addon1">المدفوع</span>
                        </div>
                    </div>

                    <div class="col-md-6 pull-right">
                        <div class="input-group">

                            @Html.TextBoxFor(x => x.FeesPercentage, new { @class = "form-control", required = "required" })
                            <span class="input-group-addon" id="basic-addon1">نسبة الرسوم</span>
                        </div>
                    </div>
                    <div class="col-md-6 pull-right">
                        <div class="input-group">

                            @Html.TextBoxFor(x => x.InsurancePercentage, new { @class = "form-control", required = "required" })
                            <span class="input-group-addon" id="basic-addon1">نسبة التامين</span>
                        </div>
                    </div>

                    <div class="col-md-6 pull-right">
                        <div class="input-group">

                            @Html.TextBoxFor(x => x.Total, new { @class = "form-control", required = "required" })
                            <span class="input-group-addon" id="basic-addon1">الاجمالى</span>
                        </div>
                    </div>
                    <div class="col-md-6 pull-right">
                        <div class="input-group">

                            @Html.TextBoxFor(x => x.Reminder, new { @class = "form-control", required = "required" })
                            <span class="input-group-addon" id="basic-addon1">الباقى</span>
                        </div>
                    </div>

                    <div class="col-md-6 pull-right">
                        <div class="input-group">
                            <select class="form-control" id="CustomersList" name="CustomersList" multiple required>
                              
                                    @foreach (var cust in Model.customers)
                                    {
                                        <option value="@cust.ID">@cust.Name</option>
                                    }
                             
                               
                              

                            </select>

                            @*<input type="text" class="form-control">*@
                            <span class="input-group-addon" id="basic-addon1">اسم مشترى</span>
                        </div>
                    </div>

                    <button type="submit" id="save" class="btn btn-success pull-left">حفظ</button>

                </div>
        </form>
    </div>
</div>
@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            $('#CustomersList').select2({
                minimumResultsForSearch: Infinity,
                selectOnClose: false
            });

            $('#SalesList').select2();
     

        });

        $("#Weightornumber").blur(function () {

            if ($("#LotUnit").val() == "2") {
                var buyvalue = $("#Weightornumber").val() * $("#priceperweightornumber").val();

                $("#BuyValue").val(buyvalue);
            }



        });

        $("#priceperweightornumber").blur(function () {

            if ($("#LotUnit").val() == "2") {
                var buyvalue = $("#Weightornumber").val() * $("#priceperweightornumber").val();

                $("#BuyValue").val(buyvalue);
            }


        });

        $("#LotUnit").change(function () {
            if ($("#LotUnit").val() == "2") {
                var buyvalue = $("#Weightornumber").val() * $("#priceperweightornumber").val();

                $("#BuyValue").val(buyvalue);
            }
        });

        $("#BuyValue").blur(function () {

            var fess = ($("#FeesPercentage").val() / 100) * $("#BuyValue").val();
            var insurance = ($("#InsurancePercentage").val() / 100) * $("#BuyValue").val();
            var total = Number($("#BuyValue").val()) + Number(fess) + Number(insurance);
            var reminder = total - $("#paidamount").val();
            $("#Total").val(total);
            $("#Reminder").val(reminder);

        });
        $("#FeesPercentage").blur(function () {
            var fess = ($("#FeesPercentage").val() / 100) * $("#BuyValue").val();
            var insurance = ($("#InsurancePercentage").val() / 100) * $("#BuyValue").val();
            var total = Number($("#BuyValue").val()) + Number(fess) + Number(insurance);
            var reminder = total - $("#paidamount").val();
            $("#Total").val(total);
            $("#Reminder").val(reminder);
        });
        $("#InsurancePercentage").blur(function () {
            var fess = ($("#FeesPercentage").val() / 100) * $("#BuyValue").val();
            var insurance = ($("#InsurancePercentage").val() / 100) * $("#BuyValue").val();
            var total = Number($("#BuyValue").val()) + Number(fess) + Number(insurance);
            var reminder = total - $("#paidamount").val();
            $("#Total").val(total);
            $("#Reminder").val(reminder);
        });

        $("#paidamount").blur(function () {
            var fess = ($("#FeesPercentage").val() / 100) * $("#BuyValue").val();
            var insurance = ($("#InsurancePercentage").val() / 100) * $("#BuyValue").val();
            var total = Number($("#BuyValue").val()) + Number(fess) + Number(insurance);
            var reminder = total - $("#paidamount").val();
            $("#Total").val(total);
            $("#Reminder").val(reminder);
        });
        function customMatcher(params, data) {
            // Always return the object if there is nothing to compare
            if ($.trim(params.term) === '') {
                return data;
            }

   


            // Check if the text contains the term
            if (original.indexOf(term) > -1) {
                return data;
            }

            // Check if the data occurs
            if ($(data.element).data('test').toString().indexOf(params.term) > -1) {
                return data;
            }

            // If it doesn't contain the term, don't return anything
            return null;
        }
    </script>
}