﻿@model List<AMS.ViewModels.Calculation.calculationsale>
@{
    ViewData["Title"] = "Index";
}
@section Title{
    <h3 class="">
        <i class="fa fa-money"></i> الحسابات
    </h3>
}
@section SubTitle{
    <div class="row no-margin">
       

    </div>
}

<div class="shift-top col-md-12 table-responsive">
    <center>
        <p style="text-decoration-style:solid;text-decoration:underline;">حساب الجلسات</p>
    </center>
    <div class="row">
        <div class="col-md-12">
            <a href="/calculations/add/" class="btn btn-primary pull-left">اضافة لوط</a>
        </div>
    </div>
    @if (Model.Count > 0)
    {
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        اسم الجهة
                    </th>
                    <th>
                        تاريخ الجلسة
                    </th>

                    <th>الإجراءات</th>

                </tr>
            </thead>
            <tbody id="Partialdata">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.SaleName
                        </td>
                        <td>
                            @if (item.date != null)
                            {
                                @item.date.ToShortDateString()
                            }


                        </td>

                        <td>
                          
                                <a href="/calculations/sale/details/@item.Id">التفاصيل</a>
                            &bull;
                                <a href="/calculations/Mixed/@item.Id">الحسابات المجمعة</a>
                        
                        </td>
                    </tr>



                }

            </tbody>

        </table>
    }

</div>