﻿@model List<AMS.Entities.Calculations.MixedCalculation>
@{
    ViewData["Title"] = "MixedCalculations";
}
@section Title{
    <h3 class="">
        <i class="fa fa-money"></i> الحسابات المجمعة
    </h3>
}
@section SubTitle{
    <div class="row no-margin">
        <center>
            <label>
                @ViewBag.saleTitle
            </label>
        </center>
    </div>
}

<div class="shift-top col-md-12 table-responsive">
    @if (Model.Count > 0)
    {
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        اسم الحساب
                    </th>
                    <th>
                        اجمالى الحساب
                    </th>
                    <th>
                        المدفوع
                    </th>
                    <th>حالة الحساب</th>
                    <th>
                        الإجراءات
                    </th>
                </tr>
            </thead>
            <tbody id="Partialdata">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.TotalValue</td>
                        <td>@item.TotalPaid</td>
                        <td>@if (item.Isclosed == true) {  @Html.Raw("مغلق") } else { @Html.Raw("مفتوح")}</td>
                        <td><a href="/calculations/Mixed/@ViewBag.saleID/details/@item.Id">التفاصيل</a></td>
                    </tr>
                }

            </tbody>
        </table>
    }
    <div class="row">
        <div class="col-md-12">
            <a href="/calculations/Mixed/@ViewBag.saleID/add" class="btn btn-primary pull-left">اضافة حساب</a>
        </div>
    </div>
</div>
