﻿
@{
    ViewData["Title"] = "MixedCalculation_Add";
    Layout = "~/Views/Shared/_Layout_tabs.cshtml";
}
@section Title{
    <h3 class="">
        <i class="fa fa-money"></i> اضافة حساب مجمع
    </h3>
}
@section TabsTitle{

}

<div class="tab-pane  fade active in" id="tabBody0" role="tabpanel" aria-labelledby="tab0" aria-hidden="false" tabindex="0">
    <div>
        <form method="post">
            <div class="row">

                <div class="col-md-12">

                    <input type="hidden" id="saleID" name="saleID" value="@ViewBag.saleID" />
                    <div class="col-md-6 pull-right">
                        <div class="input-group">
                            <input id="accountname" name="accountname" type="text" class="form-control" required/>
                          
                            <span class="input-group-addon" id="basic-addon1">اسم الحساب</span>
                        </div>
                    </div>



                    <div class="col-md-6 pull-right">
                        <div class="input-group">
                            <select class="form-control" id="CustomersList" name="CustomersList" multiple required>

                                @foreach (var item in ViewBag.Lots)
                                {
                                    <option value="@item.LotId">@item.LotNumber</option>
                                }




                            </select>

                            @*<input type="text" class="form-control">*@
                            <span class="input-group-addon" id="basic-addon1">مجموعة اللوطات</span>
                        </div>
                    </div>

                    <button type="submit" id="save" class="btn btn-success pull-left">حفظ</button>

                </div>
                </div>
        </form>
    </div>
</div>
@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            $('#CustomersList').select2({
                minimumResultsForSearch: Infinity,
                selectOnClose: false
            });


        });
</script>
}