﻿@model  List<AMS.ViewModels.Calculation.Sale_LotdetailsVM>

@{

}
@section Title{
    <h3 class="">
        <i class="fa fa-money"></i> تفاصيل الحساب المجمع
    </h3>
}
@section SubTitle{
    <div class="row no-margin">
        <center>
            <label>
                @ViewBag.saleTitle
            </label>
        </center>
    </div>
}
<div class="modal fade" id="Modal2" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">اضافة ملف</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="input-group">

                            <input type="text" class="form-control" id="paidamount">
                            <span class="input-group-addon" id="basic-addon1">المبلغ</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group">

                            <textarea name="" class="form-control" id="paiddesc" cols="30" rows="10"></textarea>
                            <span class="input-group-addon" id="basic-addon1">طريقة الدفع</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">اغلاق</button>
                <button type="button" class="btn btn-success pull-left" data-dismiss="modal" id="addtransaction">حفظ</button>
            </div>
        </div>

    </div>
</div>

<div class="shift-top col-md-12 table-responsive">

    @if (Model.Count > 0)
    {
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        رقم اللوط
                    </th>
                    <th>
                        اسم المشترى
                    </th>

                    <th>نوع اللوط</th>
                    <th>القيمة البيعية</th>
                    <th>المدفوع</th>
                    <th>نسبة الرسوم</th>
                    <th>القيمة البيعية +الرسوم</th>
                    <th>نسبة التامين</th>
                    <th>قيمة التامين</th>
                    <th>الاجمالى</th>
                    <th>الباقى</th>
                </tr>
            </thead>
            <tbody id="Partialdata">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.LotNumber</td>
                        <td>@item.BuyersName</td>
                        <td>@item.LotType</td>
                        <td>@item.BuyValue</td>
                        <td>@item.PaidAmount</td>
                        <td>@item.FeesPercentage</td>
                        <td>@item.BuyValueWithFees</td>
                        <td>@item.InsurancePercentage</td>
                        <td>@item.InsuranceValue</td>
                        <td>@item.Total</td>
                        <td>@item.Reminder</td>
                    </tr>

                }

            </tbody>
        </table>
    }
    <input type="hidden" name="calcID" id="calcID" value="@ViewBag.accountId">
    @*@if (ViewBag.isclosed == false)
    {*@    <button class="btn btn-primary pull-left" data-toggle="modal" data-target="#Modal2">تسديد فاتورة</button>
    <button class="btn btn-primary pull-left" data-toggle="modal" >استرداد</button>
    @*  }*@

    <br />
    <table class="table table-bordered table-striped table-hover">
        <tbody>
            @foreach (var item in (List<AMS.ViewModels.Calculation.TransactionVM>)ViewData["transactions"])
            {
                <tr><td>@item.PaidDescription</td><td>@item.Paidamount</td><td>@item.type</td></tr>
            }
        </tbody>
    </table>

</div>
@section Scripts{

    <script type="text/javascript">

        $("#addtransaction").click(function () {

            var paidamount = $("#paidamount").val();

            var paiddesc = $("#paiddesc").val();
            $.ajax({

                url: "/Calculations/AddCalculation_Transaction",
                type: 'POST',
                data: JSON.stringify({ MixedCalculationId: $("#calcID").val(), Paidamount: $("#paidamount").val(), PaidDescription: $("#paiddesc").val() }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (message) {
                    if (message.success == "1") {

                        location.reload();
                    }

                },
                error: function () {
                    alert("There was error uploading files!");
                }
            });
        });

    </script>
}