﻿@model  List<AMS.ViewModels.Calculation.Sale_LotdetailsVM>
@{
    ViewData["Title"] = "Sale_LotDetails";
}
@section Title{
    <h3 class="">
        <i class="fa fa-money"></i> تفاصيل حساب الجلسة
    </h3>
}
@section SubTitle{
    <div class="row no-margin">


        <center>
            <label>
                @ViewBag.saleTitle
            </label>
        </center>

    </div>
}

<div class="shift-top col-md-12 table-responsive">

    @if (Model.Count > 0)
    {
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        رقم اللوط
                    </th>
                    <th>
                        اسم المشترى
                    </th>

                    <th>نوع اللوط</th>
                    <th>القيمة البيعية</th>
                    <th>المدفوع</th>
                    <th>نسبة الرسوم</th>
                    <th>القيمة البيعية +الرسوم</th>
                    <th>نسبة التامين</th>
                    <th>قيمة التامين</th>
                    <th>الاجمالى</th>
                    <th>الباقى</th>
                </tr>
            </thead>
            <tbody id="Partialdata">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.LotNumber</td>
                        <td>@item.BuyersName</td>
                        <td>@item.LotType</td>
                        <td>@item.BuyValue</td>
                        <td>@item.PaidAmount</td>
                        <td>@item.FeesPercentage</td>
                        <td>@item.BuyValueWithFees</td>
                        <td>@item.InsurancePercentage</td>
                        <td>@item.InsuranceValue</td>
                        <td>@item.Total</td>
                        <td>@item.Reminder</td>
                    </tr>

                }

            </tbody>
        </table>
    }

</div>
